/*estilos generales */
*{
    margin: 0;
    padding: 0;
}

:root{
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 83%, 46%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%)
}

body{
 
    font-family: "Karla", sans-serif;
    background-color: var(--LightGray);
    padding: 5em;
}

main{
   
    /*centramos el main*/
    display: flex;
    justify-content: center;
    align-items: center;
   
}


/* darle estilos al contenedor  principal*/
.container{

    width: 50em;

    display: grid;
    grid-template-areas:
    "caja1 caja1"
    "caja2 caja3";   
}

/* estilos a la caja 1*/
/*join our community*/
.caja1{

    padding: 20px;

    background: white;
    border-radius: 10px 10px 0px 0px;

    grid-area: caja1;
}

.caja1 h1{

    font-size: 30px;
    color: hsl(179, 62%, 43%);
    padding-bottom: 15px;
}


.caja1 .sub {

    font-size: 20px;
    color: rgb(219, 219, 66);
    padding-bottom: 15px;
}


.caja1 p{
    font-size: 16px;
    text-align: left;
    color: #8a8987;
}


/*ESTILOS A LA CAJA 2*/
/*Monthly Subscription*/
.caja2{
 
    height: 200px;
    
    color: white;
    background-color: var(--Cyan);
    grid-area: caja2;

    border-radius: 0px 0px 0px 10px;
    padding: 2em;

}

.caja2 h1{
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.sub1{
    font-size: 30px;
    font-weight: 600;
}
span{
    font-size: 18px;
    font-weight: normal;
    color:#eee7d8;
}

.caja2 p{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn{

    width: 100%;
    height: 40px;

    color: white;
    font-weight: 600;
    
    border: none;
    border-radius: 5px;
    box-shadow:  0px 1px 4px 0px rgb(66, 66, 65);
    background: var(--BrightYellow);
    
    cursor: pointer;
}



/***************************************************/
/*estilo a la caja 3 */
/*why us */

.caja3{

    background: hsl(179, 61%, 49%);
    grid-area: caja3;
    
    color: white;
    border-radius: 0px 0px 10px 0px;
    padding: 2em;
}

.caja3 h2{
    font-size: 20px;
    padding-bottom: 20px;
}

/*Pie de pagina */
.attribution{
    font-size: 16px;
    text-align: center;

    padding-top: 4em;
}
.attribution a{
    font-weight: 600;

    text-decoration: none;
    color: #130d3a;
}


/**********************************************************/
/*media querys*/

@media (max-width: 750px) {

    body{
        padding: 2em;
    }

    .container{

        grid-template-areas:
        "caja1 caja1"
        "caja2 caja2"
        "caja3 caja3";   
    }

    .caja1{
        height: 250px;
    }
    .caja1 p{
        width: 90%;
        font-size: 18px;
       
    }
    .caja2{
        border-radius: 0px 0px 0px 0px;
    }

    .caja3{
        border-radius: 0px 0px 10px 10px;
    }


}

@media (max-width: 500px) {

    body{
        padding: 2.4em;
        padding-top: 4em;
    }
    
    .caja1 p{
        width: 85%;
        font-size: 16px;
       
    }
}


